@import './veriables';

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%button {
  font: inherit;
  font-weight: 500;
  color: #fff;
  background-color: rgba(54, 0, 124, 0.6);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 500ms linear;

  &:hover,
  &:focus {
    background-color: #fff;
    color: $accent-color;
    box-shadow: 0px 0px 10px 5px rgba(54, 0, 124, 0.2);
  }
}
